[core]
	editor = vim
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[user]
	email = quentin.chen727@gmail.com
	name = quentinchen727
[alias]
	ll = log --pretty=fuller --stat --graph --decorate
	ls = log --pretty=oneline --graph --decorate
	ss = status -sb
	br = branch
	co = checkout
	st = status
